/* General setup */

@font-face {
  font-family: 'introrustg-base2line';
  src: url('fonts/introrustg-base2line-webfont.woff2') format('woff2'),
       url('fonts/introrustg-base2line-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'introheadr-base';
  src: url('fonts/introheadr-base-webfont.woff2') format('woff2'),
       url('fonts/introheadr-base-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
  font-family: 'introrustg-base2line', serif;
}

h2 {
  font-size: 2.4rem;
  font-family: 'introrustg-base2line', serif;
}

p {
  font-size: 2rem;
  line-height: 1.5;
  word-spacing: 0.6rem;
  font-family: 'introheadr-base', serif;
}