/* 用 writing-mode 进行创意排布布局,实现类似报纸排版的文章 */

/* 引用了WEB FONT Architects Daughter */
@font-face {
    font-family: 'architects_daughterregular';
    src: url('fonts/architectsdaughter-regular-webfont.woff2') format('woff2'),
         url('fonts/architectsdaughter-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'architects_daughterregular', serif;
  border-top: 5px solid aqua;
}

.moby {
  margin: 0 auto;
  width: 750px;
}

h2 {
  float: left;
  writing-mode: vertical-lr; /* 实现标题竖向显示 */
  color: aqua;
  font-size: 3em;
}

p:nth-of-type(2) {
  white-space: nowrap; /* 不换行 */
  overflow: hidden;    /* 隐藏溢出的内容 */
  text-overflow: ellipsis; /* 用一个省略号来表示被截断的文本 */
  margin-left: 148px;  /* 用于和第一段文本对齐，笨办法 */
}

